:root {
    --primary-color: #c80204;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --topbar-height: 40px;
    --navbar-height: 80px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;   /* 1 rem = 10px */
    line-height: 1.6rem;
    box-sizing: border-box;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

/* Responsive */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: calc(1/6);
}

.grid__column-4,
.width__1-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.333%;
}

.width__3-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 75%;
}

.grid__column-4--custom {
    padding-left: 20px;
    padding-right: 20px;
    width: 25%;
}


/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

@keyframes rotateGrowthIn {
    0% {
        transform: translate(-50%, -50%) rotate(-45deg) scale(0.8); 
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }
}