<!-- Sticky Wrapper -->
<div id="header__sticky-wrapper">
    <div class="grid">
        <div class="header__nav">
            <a href="/" class="header__nav-logo home">
                <img src="/img/logo.jpg" alt="" class="header__nav-logo-img">
            </a>
            <ul class="header__menu">
                <li class="header__menu-item">
                    <a href="/about" class="header__menu-link 1">Hàng mới về</a>
                </li>
                <li class="header__menu-item">
                    <a href="" class="header__menu-link 2">Bộ sưu tập</a>
                </li>
                <li class="header__menu-item">
                    <a href="" class="header__menu-link 3">Áo nam</a>
                </li>
                <li class="header__menu-item">
                    <a href="" class="header__menu-link 4">Quần nam</a>
                </li>
                <li class="header__menu-item">
                    <a href="" class="header__menu-link 5">Phụ kiện</a>
                </li>
                <li class="header__menu-item">
                    <a href="" class="header__menu-link 6">Outlet Sale</a>
                </li>
            </ul>
            <div class="header__right">
                <div class="header__search">
                    <i class="header__search-icon fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="header__cart">
                    <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                    <div class="cart-list-container">
                        <div class="cart-list-wrap">
                            <div id="cart-list">
                                <h3 class="cart-heading">
                                    Có
                                    <span id="cart-count">0</span>
                                    <span class="cart-heading--highlight">Sản phẩm</span>
                                    trong giỏ hàng
                                </h3>
                                <img class="cart-list--empty-img" src="/img/empty-cart.webp" alt="">
                                <div id="cart-item__list">

                                    <!-- <div class="cart-item">
                                        <img class="cart-item-img" src="https://th.bing.com/th/id/R.136c5d6ea7d6149bd72466dbcb0639e5?rik=Qw5Hk9fXu9YIWA&pid=ImgRaw&r=0" alt="">
                                        <div class="cart-item__wrap">
                                            <p class="cart-item__name">Quần Tây Sidetab Gắn Dây 3 Sọc Form Slimfit QT065 Màu Đen</p>
                                            <div class="cart-item__body">
                                                <div class="cart-item__info">
                                                    <p class="cart-item__quantity">1</p>
                                                    <p class="cart-item__multiply">x</p>
                                                    <p class="cart-item__price">369000</p>
                                                </div>
                                                <button class="cart-item__remove-btn">
                                                    <i class="cart-item__remove-icon fa-solid fa-trash-can"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div> -->




                                </div>
                                <h3 class="cart-footer">
                                    <p class="cart-footer__title">Tổng:</p>
                                    <span class="cart__total-count">0</span>
                                </h3>
                                <button class="cart__order-btn">Gửi đơn hàng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>