<header class="topbar">
    <!-- Header Top -->
    <div class="topbar">
        <div class="grid">
            <div class="header__top">
                <div class="header__hotline">
                    <i class="header__hotline-icon fa-solid fa-phone-flip"></i>
                    <span class="header__hotline-label">Hotline:</span>
                    <span class="header__hotline-number">
                        <a href="" class="header__hotline-number-link">0905.450.533</a>
                    </span>
                </div>
                <ul class="header__info">
                    <li class="header__info-item">
                        <a href="" class="header__info-item-link">Cách chọn Size</a>
                    </li>
                    <li class="header__info-item">
                        <a href="" class="header__info-item-link">Chính sách khách VIP</a>
                    </li>
                    <li class="header__info-item">
                        <a href="" class="header__info-item-link">Giới thiệu</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>