<section id="Home-container">
    <!-- Slider -->
    <div class="swiper">
        <div class="swiper__wrapper">
            <div class="swiper__slide-list">
                <img class="swiper__slide-img"
                    src="https://www.democratandchronicle.com/gcdn/authoring/authoring-images/2025/01/24/USAT/77928500007-year-of-the-snake-topper.png?crop=3797,2134,x0,y241&width=3200&height=1799&format=pjpg&auto=webp">
                <img class="swiper__slide-img"
                    src="https://9slide.vn/wp-content/uploads/2020/01/Template-Slide-Powerpoint-for-Lunar-New-Year.png">
            </div>
            <div class="swiper__pagination"></div>
            <div class="swiper__button-prev">
                <!-- <i class="fa-solid fa-chevron-left"></i> -->
            </div>
            <div class="swiper__button-next">
                <!-- <i class="fa-solid fa-chevron-right"></i> -->
            </div>
        </div>
    </div>
    <div class="grid">
        <!-- Sản phẩm Hot -->
        <section class="hot-products">
            <div class="grid">
                <div class="grid__row">
                    <h2 class="product__title hot-products__title">Sản phẩm Hot nhất</h2>
                </div>
                <div class="hot-product__list-wrap">
                    <div id="hot-product__list" class="grid__row">
                        <!-- Danh sách sản phẩm hot -->
                        {{#filterProducts products key}}
                        {{/filterProducts}}
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>